.hour {
    color: firebrick;
    font-size: 250%;
}

.minute {
    font-size: 250%;
    color: coral;
}

.second {
    font-size: 250%;
    color: orangered;
}

.colon {
    font-size: 250%;
}

.center {
    width: 200px;
    padding: 20%;
    margin: auto;

}